# Оцінка курсу долара за допомогою Нейронної Мережі LSTM

Виконав студент ІПЗм-11 Кича Андрій

LSTM - Long short-term memory. Використовується для аналізу часових рядів та рядів даних що взаємоповʼязані між собою.

Набір даних взято з ресурсу Yahoo Finance https://finance.yahoo.com/quote/USDUAH%3DX/history?p=USDUAH%3DX

In [195]:
import pandas as pd

## Переведення набору даних до формату pd

Створення дата фрейму pd важливе для спрощення маніпуляцій над набором даних

In [196]:
df = pd.read_csv('USDUAH.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-03-15,25.844999,26.069000,25.806601,25.806601,25.806601,0.0
1,2018-03-16,26.173000,26.173000,25.806601,25.806601,25.806601,0.0
2,2018-03-19,26.278000,26.278000,26.117500,25.931601,25.931601,0.0
3,2018-03-20,26.080999,26.080999,25.931601,26.117500,26.117500,0.0
4,2018-03-21,26.142000,26.142000,26.035500,26.049999,26.049999,0.0
...,...,...,...,...,...,...,...
1300,2023-03-09,36.638458,36.662598,36.638458,36.640369,36.640369,0.0
1301,2023-03-10,36.566570,36.630276,36.566570,36.662598,36.662598,0.0
1302,2023-03-13,36.353882,36.681011,36.353882,36.446461,36.446461,0.0
1303,2023-03-14,36.497410,36.497410,36.456516,36.681011,36.681011,0.0
1304,2023-03-15,36.568501,36.568501,36.568501,36.568501,36.568501,0.0

## Фільтрація набору даних від непотрібної для тренування моделі інформації

In [197]:
df = df[['Date', 'Close']]

In [198]:
df

            Date      Close
0     2018-03-15  25.806601
1     2018-03-16  25.806601
2     2018-03-19  25.931601
3     2018-03-20  26.117500
4     2018-03-21  26.049999
...          ...        ...
1300  2023-03-09  36.640369
1301  2023-03-10  36.662598
1302  2023-03-13  36.446461
1303  2023-03-14  36.681011
1304  2023-03-15  36.568501

[1305 rows x 2 columns]

## Переведення строкової репрезентації дати в обʼєкт

In [199]:
df['Date'] = df['Date'].apply(pd.to_datetime)

/var/folders/8d/rgvq80y13sj1394jhjl5vdxh0000gn/T/ipykernel_15026/1867011112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df['Date'].apply(pd.to_datetime)

In [ ]:
df.dtypes

## Візуалізація набору даних

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(df['Date'].to_numpy(), df['Close'].to_numpy())
plt.plot()

## Використання дати як індексу у дата фреймі

In [ ]:
df.index = df.pop('Date')

In [ ]:
df

In [ ]:
import numpy as np
import datetime

window_size = 3

def df_to_windowed_df(dataframe, first_date_str, last_date_str, n=window_size):
  first_date = pd.to_datetime(first_date_str)
  last_date  = pd.to_datetime(last_date_str)

  target_date = first_date
  
  dates = []
  X, Y = [], []

  last_time = False
  while True:
    df_subset = dataframe.loc[:target_date].tail(n+1)
    
    if len(df_subset) != n+1:
      print(f'Error: Window of size {n} is too large for date {target_date}')
      return

    values = df_subset['Close'].to_numpy()
    x, y = values[:-1], values[-1]

    dates.append(target_date)
    X.append(x)
    Y.append(y)

    next_week = dataframe.loc[target_date:target_date+datetime.timedelta(days=7)]
    next_datetime_str = str(next_week.head(2).tail(1).index.values[0])
    next_date_str = next_datetime_str.split('T')[0]
    year_month_day = next_date_str.split('-')
    year, month, day = year_month_day
    next_date = datetime.datetime(day=int(day), month=int(month), year=int(year))
    
    if last_time:
      break
    
    target_date = next_date

    if target_date == last_date:
      last_time = True
    
  ret_df = pd.DataFrame({})
  ret_df['Target Date'] = dates
  
  X = np.array(X)
  for i in range(0, n):
    X[:, i]
    ret_df[f'Target-{n-i}'] = X[:, i]
  
  ret_df['Target'] = Y

  return ret_df

# Start day second time around: '2021-03-25'
windowed_df = df_to_windowed_df(df, 
                                '2019-03-15', 
                                '2023-03-15', 
                                n=window_size)
windowed_df

In [ ]:
def windowed_df_to_date_X_y(windowed_dataframe):
  df_as_np = windowed_dataframe.to_numpy()

  dates = df_as_np[:, 0]

  middle_matrix = df_as_np[:, 1:-1]
  X = middle_matrix.reshape((len(dates), middle_matrix.shape[1], 1))

  Y = df_as_np[:, -1]

  return dates, X.astype(np.float32), Y.astype(np.float32)

dates, X, y = windowed_df_to_date_X_y(windowed_df)

dates.shape, X.shape, y.shape

In [ ]:
np.isnan(y).any(0)

## Фільтрація набору даних від пустих значень

In [ ]:
windowed_df.shape

In [ ]:
windowed_df.isnull().values.any()

In [ ]:
windowed_df = windowed_df.dropna()
windowed_df.isnull().values.any()

In [ ]:
windowed_df.shape

In [ ]:
q_80 = int(len(dates) * .8)
q_90 = int(len(dates) * .9)

dates_train, X_train, y_train = dates[:q_80], X[:q_80], y[:q_80]

dates_val, X_val, y_val = dates[q_80:q_90], X[q_80:q_90], y[q_80:q_90]
dates_test, X_test, y_test = dates[q_90:], X[q_90:], y[q_90:]

plt.plot(dates_train, y_train)
plt.plot(dates_val, y_val)
plt.plot(dates_test, y_test)

plt.legend(['Train', 'Validation', 'Test'])
plt.show()

## Композиція моделі

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import layers

model = Sequential([layers.Input((3, 1)),
                    layers.LSTM(64),
                    layers.Dense(32, activation='relu'),
                    layers.Dense(32, activation='relu'),
                    layers.Dense(1)])

# mean squared error
model.compile(loss='mse',
              optimizer=Adam(learning_rate=0.00001),
              metrics=['mean_absolute_error'])

## Тренування моделі

In [ ]:
y_train

In [ ]:
model.fit(X_train, y_train, validation_data=(X_val, y_val), epochs=10)

## Оцінка якості передбачень моделі

In [ ]:
train_predictions = model.predict(X_train).flatten()

plt.plot(dates_train, train_predictions)
plt.plot(dates_train, y_train)
plt.legend(['Training Predictions', 'Training Observations'])